* {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ul {
    list-style-type: none; /* Remove bullets */
}

.list-item {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.label {
    font-size: smaller;
    font-weight: lighter;
    color: #3d5a80;
}

.value {
    font-size: larger;
    font-weight: 900;
}

#tracklist {
    width: 50%;
}