* {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0px;
    margin: 0px;
    height: 575px;
}

#header {
    background-color: white;
}

#footer {
    padding: 20px;
    background-color: white;
}

#main {
    margin: 20px auto;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 900px;
    min-width: 900px;
}

#tracklist {
    flex: 0 0 33%;
    margin: 0 8px;
    height: 575px;
    overflow-y: scroll;
}

#map {
    flex: 1;
    height: 571px;
}

#form {
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
}

.list-item {
    cursor: pointer;
    background-color: #f9f2ec;
    padding: 6px 10px;
}

.list-item:not(:last-child) { 
    margin-bottom: 8px;  
 }

.label {
    font-size: smaller;
    font-stretch: condensed;
    font-weight: lighter;
    color: #003459;
}

.value {
    font-size: larger;
    font-weight: 900;
    color: #007ea7;
}

.active {
    color: #46C646;
}

.list-item:hover{
    background-color: #f3e5d9;
}

